<ng-template #tableContent let-document="rowData">
  <td class="text-center no-padding">{{document.date}}</td>
  <td class="no-padding">
    <div class="ui-g-12">
      <div class="ui-g-11">
        <div class="document-process" title="{{document.name}}">{{document.name}}</div>
      </div>
      <div class="ui-g-offset-10">
        <div class="document-process-icon">
          <i class="material-icons document-type-icon">{{document.type | documentTypeIcon}}</i>
        </div>
      </div>
    </div>
  </td>
  <td class="text-center no-padding"><i class="material-icons">{{document.status | documentStatusIcon}}</i></td>
  <td class="hidden">{{document.type}}</td>
</ng-template>

<app-generic-table [buttons]="buttons" [filters]="filters" [filterConfig]="filterConfig"
                   [tableConfig]="tableConfig" [columns]="cols" [elements$]="documents$"
                   [selected$]="selected$" [selected]="selected" [templateRef]="tableContent">
</app-generic-table>
<app-duplicate-item-dialog></app-duplicate-item-dialog>
<app-add-item-dialog></app-add-item-dialog>
