td.text-center {
  text-align: center;
}

td.hidden {
  width: 0;
  overflow: hidden;
}

i.material-icons.document-type-icon {
  float: right;
  font-size: initial;
}

div.document-process {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.document-process-icon {
  display: grid;
}

/*!* app-generic-table *!*/
app-generic-table ::ng-deep th.hidden {
  width: 0;
  overflow: hidden;
}

app-generic-table ::ng-deep th.small-size {
  width: 6em;
}

app-generic-table ::ng-deep th.icon-size {
  width: 3em;
}

app-generic-table ::ng-deep .smaller {
  font-size: smaller;
}

app-generic-table ::ng-deep .no-padding {
  padding: 0 !important;
}

app-generic-table ::ng-deep .no-padding-right {
  padding-right: 0;
}
