<form [formGroup]="formAdd" class="ui-g-12 ui-g-nopad">
  <p-dialog header="{{'ADMINISTRATIVE.DOCUMENTS.ADD.Header' | translate}}" [(visible)]="showDialog"
            [modal]="true" [closable]="true" [blockScroll]="true" [style]="{width: '300px'}"
            [contentStyle]="{'padding-top': '20px'}">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 nopad" style="padding-bottom: 20px;">
          <span class="ui-float-label">
            <input id="name" type="text" size="30" pInputText class="form-control" [formControl]="formAdd.name"
                   required>
            <label for="name">{{'COMMON.INPUT.Name' | translate}}*</label>
          </span>
          <div *ngIf="formAdd.name.invalid && formAdd.name.touched" class="alert alert-danger">
            <div
              *ngIf="formAdd.name.errors.required">{{'COMMON.INPUT.NameRequired' | translate}}</div>
          </div>
        </div>

        <div class="ui-g-12 nopad">
          <p-dropdown [options]="types" placeholder="{{'ADMINISTRATIVE.DOCUMENTS.ADD.TypePlaceholder' | translate}}*"
                      [showClear]="true" [formControl]="formAdd.type" appendTo="body" required></p-dropdown>
          <div *ngIf="formAdd.type.invalid && formAdd.type.touched" class="alert alert-danger">
            <div
              *ngIf="formAdd.type.errors.required">{{'ADMINISTRATIVE.DOCUMENTS.ADD.TypeRequired' | translate}}</div>
          </div>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="pi pi-check" [disabled]="formAdd.invalid" (click)="addItem()"
                label="{{'COMMON.BUTTONS.Create' | translate}}"></button>
        <button type="button" pButton icon="pi pi-close" (click)="closeDialog()"
                label="{{'COMMON.BUTTONS.Cancel' | translate}}" class="ui-button-secondary"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>
