<div class="layout-wrapper layout-compact">

  <div class="layout-container menu-layout-static layout-menu-static-inactive">

    <app-topbar *ngIf="isBrowserOwner()"></app-topbar>

    <!--<div class="layout-menu"></div>-->

    <div [ngClass]="{'layout-main-iframe':!isBrowserOwner(), 'layout-main': isBrowserOwner()}">
      <app-breadcrumb></app-breadcrumb>

      <div class="layout-content">
        <router-outlet></router-outlet>

        <app-footer *ngIf="isBrowserOwner()"></app-footer>
      </div>
    </div>

    <!--<app-rightpanel></app-rightpanel>-->

    <div class="layout-mask"></div>
  </div>

</div>
