<div class="footer">
  <div class="card clearfix ui-g">
    <div class="ui-g-12 ui-g-nopad">
      {{ appVersion }} &#183;
      Cipal Schaubroeck NV &#183;
      <span class="material-icons ui-icon-copyright" style="vertical-align: bottom;"></span> 2019
    </div>
  </div>
</div>
