<div class="topbar clearfix">
  <div class="topbar-left">
    <div class="logo"></div>
  </div>

  <div class="topbar-right">
    <a id="topbar-menu-button" href="#" (click)="app.onTopBarMenuButtonClick($event)">
      <i class="material-icons">menu</i>
    </a>
    <ul class="topbar-items animated fadeInDown"
        [ngClass]="{'topbar-items-visible': app.topBarMenuActive}">

      <!-- Choose language -->
      <li #language [ngClass]="{'active-top-menu':app.activeTopBarItem === language}">
        <a href="javascript:void(0);" (click)="app.onTopBarItemClick($event,language)"
           title="{{ 'TOP_BAR.ChangeLanguage' | translate }}">
          <i class="topbar-icon material-icons">flag</i>
          <span class="topbar-item-name" [translate]='"TOP_BAR.ChangeLanguage"'></span>
        </a>
        <ul class="ultima-menu animated fadeInDown">
          <li role="menuitem" *ngFor="let lang of translateService.getLangs()">
            <a href="javascript:void(0);" (click)="changeLanguage(lang)">
              <i class="material-icons" [ngClass]="{'selected-lang':translateService.currentLang === lang}">flag</i>
              <span>{{ lang }}</span>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
