<div class="ui-g-nopad" *ngIf="hasButtons()">
  <div class="float-right">
    <button *ngFor="let button of buttons" type="button" pButton [icon]="button.icon"
            [disabled]="button.disabled | async" [title]="button.title === null ? '' : button.title"
            (click)="button.click.apply(button.scope)"></button>
  </div>
</div>

<div class="ui-g">
  <ng-template [ngIf]="hasFilters()" [ngIfElse]="noFilters">
    <div class="ui-g-12">
      <p-multiSelect [options]="filters" [defaultLabel]="filterConfig.defaultLabel"
                     [filter]="false"
                     (onChange)="filterConfig.onChange.call(filterConfig.scope, $event)"></p-multiSelect>
    </div>
  </ng-template>
  <ng-template #noFilters>
    <div style="height: 2.5em"></div>
  </ng-template>
</div>

<div class="ui-g">
  <div class="{{tableConfig.containerClass}}">
    <p-table #genericTable [value]="(elements$ | async)" [paginator]="tableConfig.paginator !== undefined"
             [rows]="tableConfig.paginator ? tableConfig.paginator.rows : 0" [columns]="columns"
             [rowsPerPageOptions]="tableConfig.paginator ? tableConfig.paginator.rowsPerPageOptions : [10,20,30]"
             selectionMode="single"
             [sortField]="tableConfig.sortField ? tableConfig.sortField : null"
             [sortOrder]="tableConfig.sortOrder ? tableConfig.sortOrder : 1"
             [(selection)]="selected"
             (onRowUnselect)="selected$.next(null)"
             (onRowSelect)="selected$.next(selected)">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of columns" class="{{col.class}}" [pSortableColumnDisabled]="!col.hasSort"
              [pSortableColumn]="col.field">
            {{col.text}}
            <p-sortIcon [field]="col.field" *ngIf="col.hasSort"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{rowData: rowData}"></ng-template>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td class="text-center" [colSpan]="columns.length">{{tableConfig.noResultsMessage}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
