<p-dialog header="{{'ADMINISTRATIVE.DOCUMENTS.DETAIL.DOCUMENT.ATTACHMENTS.UPLOAD.Header' | translate}}"
          [(visible)]="showDialog"
          [modal]="true" [closable]="true" [blockScroll]="true" [style]="{width: '750px'}"
          [contentStyle]="{'padding-top': '20px'}" (onHide)="closeDialog()">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g-12 nopad" style="padding-bottom: 20px;">
        <p-fileUpload chooseLabel="{{'COMMON.UPLOADS.Choose' | translate }}"
                      multiple="multiple" (uploadHandler)="myUploader($event)"
                      [customUpload]="true"
                      [showUploadButton]="true"
                      [showCancelButton]="false"
                      [maxFileSize]="3000000"
                      invalidFileSizeMessageSummary="{{'COMMON.UPLOADS.MaxFileSizeSummary' | translate }}"
                      invalidFileSizeMessageDetail="{{'COMMON.UPLOADS.MaxFileSizeDetail' | translate }}"
                      invalidFileTypeMessageSummary="{{'COMMON.UPLOADS.MaxFileTypeSummary' | translate }}"
                      invalidFileTypeMessageDetail="{{'COMMON.UPLOADS.MaxFileTypeDetail' | translate }}">
        </p-fileUpload>
      </div>
    </div>
  </div>

  <p-progressBar *ngIf="progress && (progress >= 0 && progress < 100)" [value]="progress">
  </p-progressBar>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-close" (click)="closeDialog()"
              label="{{'COMMON.BUTTONS.Cancel' | translate}}" class="ui-button-secondary"></button>
    </div>
  </p-footer>
</p-dialog>
