<ng-template [ngIf]="detail === null" [ngIfElse]="hasDetail">
  <div class="ui-g add-padding-top">
    {{'ADMINISTRATIVE.DOCUMENTS.DETAIL.NoSelected' | translate}}
  </div>
</ng-template>

<ng-template #hasDetail>
  <div class="ui-g add-margin-bottom">
    <h2 class="no-margin-top add-margin-left">{{detail.name}}</h2>
  </div>

  <div class="ui-g-12">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-g-nopad">
        <form [formGroup]="formDetail">
          <div class="ui-g-6 nopad add-padding-bottom">
          <span class="ui-float-label">
            <input id="name" type="text" size="30" pInputText class="form-control"
                   [formControl]="formDetail.name" required>
            <label for="name">{{'COMMON.INPUT.Name' | translate}}*</label>
          </span>
            <div *ngIf="formDetail.name.invalid && formDetail.name.touched" class="alert alert-danger">
              <div
                *ngIf="formDetail.name.errors.required">{{'COMMON.INPUT.NameRequired' | translate}}</div>
            </div>
          </div>
          <div class="ui-g-2" *ngIf="formDetail.dirty">
            <button type="button" pButton icon="ui-icon-check" (click)="save()"
                    title="{{'COMMON.BUTTONS.Save' | translate}}"></button>
            <button type="button" pButton icon="ui-icon-close" (click)="reset()"
                    title="{{'COMMON.BUTTONS.Cancel' | translate}}"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-document *ngIf="isDocument()"></app-document>
  <app-email *ngIf="isEmail()"></app-email>
  <app-upload *ngIf="isUpload()"></app-upload>
</ng-template>
