<ng-template #tableContent let-attachment="rowData">
  <td>{{attachment.name}}</td>
</ng-template>

<div class="ui-g-12">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <p-panel header="{{'ADMINISTRATIVE.DOCUMENTS.DETAIL.DOCUMENT.ATTACHMENTS.Header' | translate}}"
               [toggleable]="true" >
        <div class="clearfix no-padding no-margin">
          <div class="ui-g-6">
            <app-generic-table [buttons]="buttons" [tableConfig]="tableConfig" [columns]="cols"
                               [elements$]="attachments$" [selected]="selected"
                               [selected$]="selected$" [templateRef]="tableContent">
            </app-generic-table>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>
<app-upload-dialog></app-upload-dialog>
