<div class="ui-g-12">
  <div class="card card-w-title clearfix">
    <div style="text-align:center">
      <h1>
        welcome to {{ title }}!
      </h1>
    </div>
  </div>
  <div class="card">
    <button pButton type="button" label="{{ 'PAGE_SPECIFIC.Administrative' | translate}}"
            routerLink="/administrative" class="margin-right"></button>
    <button pButton type="button" label="{{ 'PAGE_SPECIFIC.Dashboard' | translate}}"
            routerLink="/dashboard"></button>
  </div>
</div>
