<div class="ui-g-12">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-g-nopad">
      <div class="card card-w-title">
        <div style="text-align:center">
          <h1>
            TODO Content for upload
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
